<%# CSS・・・assets/stylesheets/shared/header.css %>
<header class='top-page-header'>
  <h1 class='header-icon'><%= link_to image_tag("book-marction-icon.jpeg", class:"book-marction-icon"), "/" %></h1>
  <div class='header-user-login'>
    <ul class='lists-login'>
      <% if user_signed_in? %>
        <li><%= link_to current_user.nickname, new_user_registration_path, class: "user-nickname" %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, class: "logout", method: :delete %></li>
      <% else %>
        <li><%= link_to 'ログイン', new_user_session_path, class: "login"%></li>
        <li><%= link_to '新規登録', new_user_registration_path, class: "sign-up"%></li>
      <% end %>
      <li><%= link_to '投稿', new_book_path, class: "subtitle-btn" %></li>
    </ul>
  </div>
</header>