<%= render "shared/header" %>
<div class='main'>
  <div class='title-contents'>
    <h1 class='service-title'>
        「読み終えた本」を「生活の一部に」
    </h1>
    <p class='service-explain'>
      Book Marctionはだれでもかんたんにご利用できる
    </p>
    <p class='service-explain'>
      読んだ本を記録するアプリです
    </p>
  </div>

  <div class='book-contents'>
    <h1 class='title'>ピックアップカテゴリー</h1>
    <%= link_to '読み終えた本', new_book_path, class: "subtitle" %>
    <ul class='book-lists'>
    <% @books.each do |book|%>
      <li class='list'>
        <%= link_to book_path(book.id) do %>
          <div class='book-info'>
            <h2 class='book-title'>
              <%= book.title %>
            </h2>
            <div class='book-explanation'>
              本の内容
              <%= book.explanation %>
            </div>
          </div>
        <% end%>
      </li>
    <% end%>

    <%# 商品がない場合のダミー %>
      <% if @books = nil%>
      <li class='list'>
        <h3 class='book-name'>
          みんなで読書しよう！
        </h3>        
      </li>
      <% end%>
      <%# /商品がない場合のダミー %>
    </ul>
  </div>
</div>
<%= render "shared/footer" %>
