<%= render "shared/header" %>
<div class='book-show'>
  <table class='item-box'>
    <tbody class='book-box'>
      <tr>
        <th class='detail-book-title'>本のタイトル</th>
        <td class="detail-value-title"><%= @book.title%></td>
      </tr>
      <tr>
        <th class='detail-book'>著者</th>
        <td class="detail-value"><%= @book.author%></td>
      </tr>
      <tr>
        <th class='detail-book'>本のジャンル</th>
        <td class="detail-value"><%= @book.genre.name%></td>
      </tr>
      <tr>
        <th class='detail-book'>本の内容・感想</th>
        <td class="detail-value"><%= @book.explanation%></td>
      </tr>
    </tbody>

    <tbody class='plan-box'>
      <tr>
        <th class='detail-book'>実行したいアクションについて</th>
        <td class="detail-value"><%= @book.thing%></td>
      </tr>
      <tr>
        <th class='detail-book'>具体的なアクションプラン</th>
        <td class="detail-value"><%= @book.todo%></td>
      </tr>
      <tr>
        <th class='detail-book'>アクションプランを考えた理由</th>
        <td class="detail-value"><%= @book.reason%></td>
      </tr>
      <tr>
        <th class='detail-book'>アクションプランを実行する日・時間帯</th>
        <td class="detail-value"><%= @book.time%></td>
      </tr>
      <tr>
        <th class='detail-book'>アクションプランを実行する場所</th>
        <td class="detail-value"><%= @book.place%></td>
      </tr>
      <tr>
        <th class='detail-book'>アクションプランに協力してくれる人</th>
        <td class="detail-value"><%= @book.partner%></td>
      </tr>
      <tr>
        <th class='detail-book'>アクションプランの達成状況</th>
        <td class="detail-value"><%= @book.achievement.name%></td>
      </tr>
    </tbody>
  </table>

  <div class='book-reaction'>
  <% if @book.user_id == current_user.id %>
    <%= link_to '投稿した本・アクションプランの編集', edit_book_path(@book.id), method: :get, class: "book-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', book_path(@book.id), method: :delete, class:'book-destroy' %>
  <% end %>
  </div>

  <div class="comments">
    <div class="comments-index">
    <h2 class='comment-message-title'>コメント一覧</h2>
    <% @comments.each do |comment| %>
      <p class='comment-message'>
        <b><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</b>
        <%= comment.message %>
      </p>
    <% end %>
    </div>
  </div>

  <div class='comment-box'>
    <%= form_with model: [@book,@comment], local: true do |f| %>
      <%= f.text_area :message, placeholder: "コメントする", rows: "5" %>
      <%= f.submit "送信する", class:'post-red-btn'%>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>